.whyus {
	margin-top: 70px;
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	row-gap: 70px;

	h2 {
		padding-top: 20px;
		border-top: 1px solid;
		font-size: 30px;
		font-weight: 800;
	}

	.cards {
		display: flex;
		align-items: flex-start;
		justify-content: center;

		@media (max-width: 768px) {
			flex-wrap: wrap;
		}

		.card {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			row-gap: 24px;
			width: 260px;
			height: 300px;
			cursor: pointer;

			img {
				width: 150px;
				height: 150px;
			}
		}
	}
}