.pattern {
	
	.head {
		padding: 15px 5%;
		background-color: #00C3CC;

		h1 {
			font-size: 36px;
			color: #000;
		}
		h5 {
			font-size: 16px;
			color: #fff;
		}
	}
	.editor {
		padding: 0 5%;
		margin: 50px 0;
	}
}