.women {
	display: flex;
	flex-direction: column;
	row-gap: 60px;
	padding: 50px 5%;

	.banner {
		display: flex;
		align-items: center;
		border-radius: 50px;
		background: #EFF0F2;

		@media (max-width: 768px) {
			.img {
				width: 100%;
				border-radius: 50px;
			}
						flex-wrap: wrap;
		}

		.img {
			background-image: url('src/assets/images/bg.png');
			background-repeat: no-repeat;
			background-size: cover;
		}

		.text_zone {
			display: flex;
			align-items: center;
			flex-direction: column;
			text-align: center;
			padding: 21px 50px;
			row-gap: 30px;

			h1 {
				font-size: 50px;
				font-weight: 900;
				line-height: 139%;
			}

			p {
				font-size: 20px;
				font-weight: 400;
				line-height: 139%;
				letter-spacing: 0.4px;
			}

			a {
				color: #33CAFF;
				font-size: 16px;
				font-weight: 400;
				line-height: 139%;
				letter-spacing: 0.32px;
				text-decoration: underline;
				display: flex;
				align-items: center;
				gap: 12px;
			}
		}
	}

	.cards {
		display: flex;
		flex-direction: column;
		row-gap: 20px;

		.cards_categories {
			div {
				padding: 12px 48px;
				display: flex;
				align-items: center;
				width: 100%;
				gap: 42px;
				border-bottom: 1px solid;
				font-size: 16px;
				font-weight: 400;

				& .active {
					color: #33CAFF;
					font-weight: 900;
				}
			}

			.last_receives {
				margin-top: 20px;
				color: #949494;
				font-size: 10px;
				font-weight: 400;
			}
		}

		.cards_heading {
			display: flex;
			align-items: center;
			justify-content: space-between;

			h2 {
				font-size: 30px;
				font-weight: 800;
			}

			.sort {
				display: flex;
				align-items: center;
				gap: 20px;
				color: #949494;
				font-size: 20px;
			}
		}

		.item_cards {
			margin-top: 60px;
			display: grid;
			gap: 80px;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		}
	}

	.more {
		display: flex;
		justify-content: center;
	}
}